.section {
    padding: 3% 25% 3% 30%;
}


.containerBotao {
    padding: 2% 0% 0% 30%;
}

.curriculoFoto {
    width: 80%;
    height: 90vh;
    transition: transform .1s;
}

.curriculoFoto:hover {
    transform: translate(0, -1rem);

}

.containerParagrafo {
    padding-left: 13%;
}

.paragrafo {

}


@media (max-width: 744px) {
    .section {
        display: flex;
        flex-direction: column; /* Empilhar os elementos verticalmente */
        align-items: center; /* Centralizar os itens no eixo transversal */
        padding: 16% 0% 5% 13%;
    }


    .containerBotao {
        padding-right: 20%;
    }

    .containerParagrafo {
        text-align: center;
    }

    .paragrafo {
        text-align: center;
    }

    .imageContainer {
        padding-right: 50px;
    }

    .curriculoFoto {
        width: 100%;
        height: 50%;
    }
}